<div id="divfooter">
  <footer id="footer" class="footer page-footer">

    <!-- !Bottom-bar -->
    <div id="bottom-bar" class="logo-left" role="contentinfo">
      <div class="wf-wrap">
        <div class="wf-container-bottom">

          <div id="branding-bottom"><a class="" href="https://www.coolcorp.com/"><img class=" preload-me"
                src="images/logo_footer.png"
                width="100" height="76" sizes="100px" alt="Coolcorp"></a></div>
          <div class="wf-float-left">
            2021 Cool Corp. All rights reserved
          </div>

          <div class="wf-float-right">

            <div class="mini-nav">
              <ul id="bottom-menu">
                <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-58242 first"><a
                    href="https://www.coolcorp.com/cool-gallery/" data-level="1"><span class="menu-item-text"><span
                        class="menu-text">Cool Gallery</span></span></a></li>
                <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-58236"><a
                    href="https://www.coolcorp.com/cool-archives/" data-level="1"><span class="menu-item-text"><span
                        class="menu-text">Cool Archives</span></span></a></li>
                <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-57477"><a
                    href="https://www.coolcorp.com/cool-careers/" data-level="1"><span class="menu-item-text"><span
                        class="menu-text">Cool Careers</span></span></a></li>
                <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-58251"><a
                    href="https://www.coolcorp.com/privacy-policy-2/" data-level="1"><span class="menu-item-text"><span
                        class="menu-text">Privacy Policy</span></span></a></li>
                <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-58250"><a
                    href="https://www.coolcorp.com/terms-of-use/" data-level="1"><span class="menu-item-text"><span
                        class="menu-text">Terms of Use</span></span></a></li>
              </ul>
          </div>

        </div><!-- .wf-container-bottom -->
      </div><!-- .wf-wrap -->
    </div><!-- #bottom-bar -->
  </footer>
</div>